#img1{
    float: left;
    margin-right: 10px ;
}
#img2{
    float: right;
    margin-left: 10px;
}

div{
    background-color: red;
    width: 100px;
    height: 100px;
    display: none;
    /*visibility: hidden;*/
}

span{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: block;
    visibility: hidden;
}